.editable-text {
  @keyframes spinner {
    0% {
      transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
      transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
  }

  input {
    font-size: 18px;
    border-radius: 15px 50px 30px;
    border: 2px solid black;
    padding: 20px;
    width: 200px;
    height: 15px;
  }

  input:focus{
    outline: none;
  }

  .spinner-wrapper {
    position: relative;

    .spinner {
      position: absolute;
      right: 25px;
      top: 25px;


      &::before {
        animation: 1.5s linear infinite spinner;
        border: solid 3px #eee;
        border-bottom-color: red;
        border-radius: 50%;
        content: "";
        height: 20px;
        opacity: inherit;
        position: absolute;
        transform: translate3d(-50%, -50%, 0);
        transform-origin: center;
        width: 20px;
        will-change: transform;
      }
    }
  }

}
