.one-image-component {
  @keyframes wait-spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  display: flex;
  justify-content: center;
  align-items: center;

  .toolbar {
    position: absolute;
    right: 0;
    padding-right: 10px;
    display: flex;
    flex-direction: column;

    .close-icon,
    .edit-icon,
    .delete-icon {
      font-size: 32px;
      color: black;
      right: 0;
      top: 0;
      z-index: 3;
      cursor: pointer;
    }
  }

  .spinner-icon {
    position: relative;
    width: 32px;
    height: 48px;

    .spinner::before {
      position: absolute;
      height: 32px;
      width: 32px;
      top: 10px;
      animation: 1.5s linear infinite wait-spinner;
      border: solid 3px #eee;
      border-bottom-color: red;
      border-radius: 50%;
      content: "";
    }
  }

  .one-image {
    position: relative;
    $anim-speed: 0.3s;
    padding: 10px;

    margin: 10px;
    text-align: left;
    opacity: .99;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .05);

    img {
      width: 90vw;
      height: auto;
      max-width: none;
      max-height: 90vh;
      object-fit: contain;
    }

    .details {
      font-size: 16px;
      padding: 20px;
      color: black;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 3;

      .details-content {
        display: block;
        opacity: 0;
        position: relative;
        top: 25px;
        transition-property: top, opacity;
        transition-duration: $anim-speed;
        transition-delay: 0s;
      }

      .title {
        line-height: 1;
        opacity: 1;
        font-weight: 600;
        font-size: 18px;
      }

      .info {
        line-height: 1.2;
        margin-top: 5px;
        font-size: 12px;
      }
    }

    .right-toolbar {
      font-size: 16px;
      padding: 20px;
      color: black;
      position: absolute;
      top: 50%;
      margin-top: -100px;
      right: 0;
      z-index: 3;

      .right-toolbar-content {
        display: block;
        opacity: 0;
        position: relative;
        left: 50px;
        transition-property: left, opacity;
        transition-duration: $anim-speed;
        transition-delay: 0s;
      }

      .icon-1 {
        color: black;
        font-weight: 600;
        font-size: 70px;
        cursor: pointer;
      }
    }

    .left-toolbar {
      font-size: 16px;
      padding: 20px;
      color: black;
      position: absolute;
      top: 50%;
      margin-top: -100px;
      left: 0;
      z-index: 3;

      .left-toolbar-content {
        display: block;
        opacity: 0;
        position: relative;
        right: 50px;
        transition-property: right, opacity;
        transition-duration: $anim-speed;
        transition-delay: 0s;
      }

      .icon-1 {
        color: black;
        font-weight: 600;
        font-size: 70px;
        cursor: pointer;
      }
    }

    &:focus,
    &:hover {

      &:before,
      .details-content,
      .right-toolbar-content,
      .left-toolbar-content {
        opacity: 1;
      }

      .details-content {
        top: 0;
      }

      .title {
        transition-delay: 0.15s;
      }

      .info {
        transition-delay: 0.25s;
      }

      .right-toolbar-content {
        left: 0;
      }

      .left-toolbar-content {
        right: 0;
      }

      .icon-1 {
        transition-delay: 0.15s;
      }

      .icon-2 {
        transition-delay: 0.25s;
      }
    }
  }
}
